.flip-container {
  padding: 1em;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;

  .card {
    width: 230px;
    border-radius: 20px;
    height: 190px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .face:after {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      display: block;
      content: "";
      height: 22px;
      width: 100%;
      background: url("http://media.a-g.fr/crea/talenance/shadow.png") no-repeat;
      background-size: 100%;
    }
    .face {
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
    }
  }
}

.back {
  z-index: 1;
  background-color: #69f0ae;
  transform: rotateY(180deg);
  color: black !important;

  a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    height: 50%;
    text-align: center;
    display: block;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
  }

  a:hover {
    opacity: 0.5;
  }
}

.card:hover .front {
  transform: rotateY(-180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}
