<div class="user-container">
  <div class="content">
    <h2>{{ "user_list_simple" | translate | titlecase }}</h2>

    <div
      cdkDropList
      [cdkDropListData]="user"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
    <ng-container *ngFor="let info of user" >
      <div class="list-item" cdkDrag>
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>{{ info.name }}</mat-card-title>
            <mat-card-subtitle>{{ info.name }}</mat-card-subtitle>
          </mat-card-header>
          <div class="flip-container">
            <div class="card" id="card">
              <div class="face">
                <p>{{ info.address.street }}</p>
                <p>{{ info.address.suite }}</p>
                <p>{{ info.address.city }}</p>
                <p>{{ info.address.zipcode }}</p>
              </div>
              <div class="face back">
                <p> {{ info.company.name }} </p>
                <p> {{ info.company.catchPhrase }} </p>
                <p> {{ info.company.bs }} </p>
                <a href="{{ info.website }}"> {{ info.website }}</a>
              </div>
            </div>
          </div>
          <mat-card-content>
            <p>
              {{ info.email }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>{{ info.phone }}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>

    </div>
  </div>
</div>
